<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>
    <h1>掲示板</h1>
    <%= yield %>
    <div id="footer">
      Copyright &copy 2013, Tsystem All Right Reserved.
    </div>
  </body>
</html>
